name: Run Tests on Dispatch

on:
  workflow_dispatch: 
  repository_dispatch:
    types: [run-tests]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      QA_BASE_URL: "https://wildxr-web-qa.azurewebsites.net/"
      QA_LOGIN_URL: "https://wildxr-web-qa.azurewebsites.net/login"
      API_BASE_URL: "https://wildxr-api-qa.azurewebsites.net/api"
      TEST_ORGANIZATION_ID: 4ffbb8fe-d8b4-49d9-982d-5617856c9cce
      TEST_ORGNAIZATION_CATALOGUE_ID: d7599af7-2414-402f-9b1b-0feea546260e
      API_TOKEN: ${{ secrets.API_TOKEN }}
      SYS_ADMIN_USERNAME: ${{ secrets.ADMIN_USERNAME }}
      SYS_ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
      ORG_WPS_USERNAME: ${{ secrets.ORG_WPS_USERNAME }}
      ORG_WPS_PASSWORD: ${{ secrets.ORG_WPS_PASSWORD }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          playwright install --with-deps chromium

      - name: Run API Tests
        run: |
          source venv/bin/activate
          pytest -m api -n auto --dist=loadfile

      - name: Run UI Tests
        run: |
          source venv/bin/activate
          pytest --browser chromium --headless True -m UI -n auto --dist=loadfile
